<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3> <%= listing.title %>  </h3>
    </div>
    <div class="col-6 offset-3">
    <div class="card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Liating image">
        <div class="card-body mt-1">
          <h4><%= listing.owner.username %></h4>
          <h6 class="card-desc"><%= listing.description %> </h6>
          <p class="card-text"> <%= listing.location %></p>
          <p class="card-text"> <%= listing.country %></p>
          <p class="card-text"> &#8377; <%= listing.price%></p>
          <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>   // check if the current user is the owner of the listing or not
          <div class=" editDetBtns">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary edit"> Edit </a>
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button type="submit" class="btn btn-primary offset-3 del">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    </div>
    <!-- review form  -->

    <% if(currentUser){ %>
    <div class="container mt-3 row">
      <div class="card p-4 shadow-lg col-6 offset-3">
          <h2 class="mb-4 text-center">User Review</h2>
          <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">

        
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

              <div class="mb-3">
                  <label for="comment" class="form-label">Your Review:</label>
                  <textarea class="form-control" id="comment" rows="4" placeholder="Write your comments here..." name="review[comment]" required></textarea>

                  <div class="invalid-feedback">
                    please write some review
                  </div>
                </div>
              
              <button type="submit" class="btn btn-primary w-100">Submit Review</button>
          </form>
      </div>
  </div>
  <% } %>

  <!-- review cards -->
<div class="row offset-2 " >
  <% for (review of listing.reviews) { %>
    <div class=" mt-4 col-8 ms-2 mb-3 ">
      <div class="card position-relative p-3 " >
        <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
          <button class="btn btn-danger position-absolute top-0 end-0 m-2">
            <i class="fas fa-trash"></i>
        </button>
        </form>
         
          <h5 class="card-title"><%= review.author.username %></h5>
          
          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p>
          <p class="card-text"> <%= review.comment %></p>
      </div>
  </div>
  <% } %>
</div>
  

</body>

